/* Container */

@font-face {
    font-family: Lufga;
    src: url('/LufgaRegular.ttf');
}

body{
    font-family: Lufga;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 111px 0;


}

.hero-section {

    position: relative;

}

.hero-section .hero-left-image {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: -1;

    max-width: 335px;
}



/* Left: Text Box */
.hero-section .text-box {
    max-width: 672px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;


}

.hero-section .hero-wrapper .text-box .bandage {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #CEEBED;
    max-width: 384px;
    border: 1px solid black;

}

.hero-section .hero-wrapper .text-box .Trusted {
    font-size: 20px;
    font-weight: 500;

    color: #0E555D;
}

.hero-section .text-box .Premium {
    font-size: 64px;
    font-weight: 600;
}

.hero-section .hero-wrapper .text-box .heroDes {
    font-size: 20px;
}

/* Right: Image Box */
.hero-section .image-box {

    max-width: 557px;

}

.hero-section .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}


/* Container */
.hero-section .hero-wrapper .text-box .button-container {
    display: flex;
    gap: 30px;
    align-items: center;

}

/* Buttons */
.hero-section .hero-wrapper .text-box .button-container button {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #111;

    color: #111;
    cursor: pointer;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}


.hero-section .hero-wrapper .text-box .button-container .shopNOw {
    background-color: black;
    color: white;

    display: flex;
    gap: 15px;
    align-items: center;
}

.hero-section .hero-wrapper .text-box .button-container .join {
    background-color: white;
}

.hero-section .hero-wrapper .text-box .hero-bottom-text {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: #2B2B2B;
}

.hero-section .hero-wrapper .text-box .timebox,
.gariBox {
    display: flex;
    gap: 6px;
    align-items: center;
}

@media screen and (max-width: 576px) {

    .hero-section .text-box {


        align-items: center;


    }

    .hero-section .text-box .Premium {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .hero-section .hero-wrapper .text-box .bandage {
        padding: 5px;
    }

    .hero-wrapper {

        flex-direction: column-reverse;
        padding: 50px 0;
        gap: 10px;
        flex-wrap: wrap;


    }

    .hero-wrapper .text-box .Trusted {
        font-size: 15px;

    }

    .hero-wrapper .text-box .bandage {

        gap: 14px;
        padding: 5px 10px;


    }

    /* Left: Text Box */
    .text-box {
        row-gap: 15px;
    }

    .hero-section .hero-left-image {

        left: 0;
        top: 70%;
        max-width: 40%;

    }


    .hero-wrapper .text-box .heroDes {
        font-size: 15px;
        text-align: center;
    }

    .hero-section .hero-wrapper .text-box .button-container button {
        padding: 8px 10px;
        font-size: 15px;

    }


    .hero-section .hero-wrapper .text-box .button-container {
        gap: 20px;

    }

    .hero-section .button-wrapper {
        display: flex;
        justify-content: center;
    }

    .hero-section .hero-wrapper .text-box .hero-bottom-text {
        gap: 6px;

        font-size: 12px;

    }



    .hero-section .hero-wrapper .text-box .Trusted {
        font-size: 15px;
        font-weight: 500;

        color: #0E555D;
    }




}


@media screen and (min-width : 576px) and (max-width : 1024px) {
    .hero-section .text-box {
        max-width: 50%;
    }

    .hero-section .text-box .Premium {
        font-size: 66px;
    }

    /* Right: Image Box */
    .hero-section .image-box {

        max-width: 50%;

    }
}