.product-wrapper{
    width: 100%;
    margin: auto;
    position: relative;

}

.product-wrapper .product_hand_Img{
    position: absolute;
    width: 15%;
    transform: rotate(180deg);
    transform:  translate(-80%,-80%);
    z-index: -1;
}


.product-wrapper .product-box .cart {
    max-width: 336px;
    background-color: #F3F1EE;
    border-radius: 10px;
}

.product-wrapper .product-box .cart_title {
    font-size: 20px;
    width: 98%;
    padding-bottom: 10px;

}

.product-wrapper .cart .product_img {
    width: 100%;

}


.product-wrapper .price {
    font-size: 26px;
    font-weight: 600;
}

.product-wrapper .product-box {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.product-wrapper.rating_product {
    display: flex;
    align-items: center;
}


.product-wrapper .product_price {
    display: flex;
    justify-content: space-between;
}

.product-wrapper .cart_button_box {
    display: flex;
    gap: 2px;
    justify-content: space-between;
}

.product-wrapper .cart_body .rating_product {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 5px;
}

.product-wrapper .cart_body {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.product-wrapper .cart .buyNow {
    padding: 15px 45px;
    background-color: #262626;
    color: whitesmoke;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

.product-wrapper .cart .cartIcon {
    padding: 15px 32px;
    border: none;
    border-radius: 7px;
    background-color: #262626;
}


.shopAllBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopAllBtn button {
    padding: 15px 20px;
    display: flex;
    color: white;
    border-radius: 8px;
    align-items: center;
    font-size: 20px;
    gap: 15px;
    background-color: #262626;
}




@media screen and (max-width : 576px) {




    .product-wrapper .product-box {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .product-wrapper .product-box .cart_title {
        font-size: 18px;

    }

    .product-wrapper .cart .buyNow {
        padding: 6px 16px;
        font-size: 15px;
    }

    .product-wrapper .cart .cartIcon {
        padding: 6px 16px;
        border: none;
        border-radius: 7px;
        background-color: #262626;
        color: white;
    }

    .product-wrapper .price {
        font-size: 20px;
    }


    .product-wrapper .cart_body .rating_product {
        font-size: 20px;

    }




}


@media screen and (min-width : 577px) and (max-width : 1024px) {
    .product-wrapper .product-box {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}


@media screen  and (min-width : 1025px) and (max-width : 1200px)  {
    
     .product-wrapper .product-box {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
}